# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
.env2/
.env

# VS Code
.vscode/
.python-version
# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Specific files to ignore
x.py
